@font-face{
    font-family: 'Victor-Mono';
    src:url(/src/Fonts/VictorMono-Bold.ttf)
}

.logo{
    color: white;
    text-shadow: #03B384 1px 0 15px;
    font-family: 'Victor-Mono';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    margin-left: 20px;
    text-decoration: none;
}

.logo:hover{
    color: rgb(186, 184, 184);
}